@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  padding: 50px 100px;
}

h1 {
  font-weight: 600;
}

h1,
h2 {
  color: var(--very-dark-blue);
}

p {
  color: var(--grayish-blue);
}

.heading {
  text-align: justify;
}

.heading-light {
  font-weight: 200;
}

.heading-paragraph {
  margin: 20px 0 40px 0;
}

.centering-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  gap: 50px;
}

.grid-item {
  grid-row: span 2;
}

/*-----------Card-------------*/
.card-main {
  border-radius: 6px;
  width: 350px;
  height: 250px;
  padding: 30px;
  text-align: left;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15), 0px 2px 28px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-main img {
  align-self: flex-end;
  width: 50px;
  height: 50px;
  margin-top: auto;
}

@media (max-width: 1349px) {
  body {
    font-size: 0.8em;
    padding: 80px 30px;
  }

  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-main {
    width: 315px;
  }
}
